.Podcasts__box {
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ddd;
  overflow: hidden;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}
.Podcasts__box:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.Podcasts__box > img {
  width: 100%;
  object-fit: cover;
}

.Podcasts__boxText {
  padding: 10px;
  padding-bottom: 20px;
  font-weight: bold;
}
