.navbar {
  height: 56px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  z-index: 9999;
  position: sticky;
  top: 0;
}

.navbar_container {
  max-width: 1280px;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.navbar__left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar__left img {
  height: 40px;
}

.navbar__input {
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 400px;
}
.navbar__input > input {
  padding: 5px 10px;
  height: 100%;
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
}
.navbar__input > svg {
  font-size: 20px;
  margin-right: 10px;
}

.navbar__right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navbar-buttons {
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  background: transparent;
}

.navbar__create {
  font-weight: bold;
  border: 1px solid rgb(59, 73, 223);
  color: rgb(59, 73, 223);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__create:hover {
  background: rgb(59, 73, 223);
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
.navbar__login {
  display: block;
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__login:hover {
  text-decoration: underline;
  background: rgba(59, 73, 223, 0.1);
  color: rgb(59, 73, 223);
}
.navbar__user {
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}


@media screen and (max-width: 768px) {
  .navbar__input {
    display: none;
  }
}
.my-avatar{
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
