:root {
  --bg-1: #ece9e9;
  --bg-2: #ffffff;
  --border: #dbdbdb;
  --blue: #0095f6;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  min-height: 100%;
}

body {
  background-color: #f3f3f3;
  color: var(--our-white);
  font-size: 18px;
  flex: 1;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container {
  display: grid;
  grid-template-columns: 20% 70%;
  gap: 10px;
  justify-content: center;

}




/* ---------------- post --------------- */
.heading11 {
  /* background-image: url('https://res.cloudinary.com/practicaldev/image/fetch/s--cm_AxQIr--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/6j29uyhu1j891iaprlx4.jpg'); */
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  /* margin-top: 5%; */
  margin: 5%;



}

.posts {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  width: 100%;
}

.right-side {
  margin-top: 5%;
  /* display: flex; */
  /* align-items: flex-start; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.post {
  background-color: var(--bg-2);
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border);
  min-width: 100%;
  border-radius: 8px;
  margin: 0px;
}

.heart-comm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.like-comment {
  font-size: 14px;
}

.save-btn-side {
  display: flex;
  align-items: center;
  gap: 5px;
}

.save-btn {
  border: none;
  background-color: #d9dade;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}

.save-btn:hover {
  background-color: #a2a4ab;
}

.h1-prog {
  display: flex;
  flex-direction: column;
  margin: 10px 15px 10px 15px;
  gap: 10px;
}

.title-post {
  font-size: 25px;
}

.tag-prog {
  font-size: 13px;
}

.save-prograph {
  font-size: 8px;
}

.post .header {
  padding: 8px 12px;
}

.post .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.post .header img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.post .header h2 {
  font-size: 14px;
}

.post .footer .icons {
  display: flex;
  flex-direction: row;
  padding: 4px 4px;
  gap: 10px;
}

.post .footer .icons .icon {
  padding: 8px;
}

.post .footer .icons .icon.heart:hover path {
  fill: #ed4956;
  color: #ed4956;
}

.post .footer .description {
  font-size: 14px;
  padding: 8px 12px 24px;
}

.post img {
  width: 100%;
  max-height: 90vh;
  object-fit: cover;
}

.spacer {
  flex: 1;
}

.button {
  background-color: var(--blue);
  padding: 8px 12px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  width: fit-content;
  border-radius: 6px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--border);
}

/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
} */

/* ------------- navbar ------------------- */


.nav-container {
  background-color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px;
  gap: 10px;
  background-color: #ffffff;
  padding: 5px 5px;

}

.left-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}


.search {
  width: 400px;
  box-sizing: border-box;
  border: 0ch;
  border: solid 1px;
  border-radius: 5px;
  font-size: 9px;
  background-position: 10px 10px;
  padding: 5px 10px 5px 10px;
  margin-right: 10rem;
  color: #808191;
  font-size: 14px;


}

.nav-img {
  border-radius: 50%;
  color: white;

}

.note-img {
  margin-left: 20px
}

.n-img {
  color: #808191;
  font-size: 11px;
}

.continar {
  display: flex;
  justify-items: flex-start;
  justify-content: space-between;
  /* gap: 20px; */

}

.side-content {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-right: 5%;
}

.heading {
  color: white;
}



.menu {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  gap: 15px;
  margin-top: 50px;

}


.def-font {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100px;
}

li a {
  display: block;
  color: #808191;

}


/* ----------------- sidebar ---------------------------- */


.v-nav {
  color: #808191;
  margin: 0px 5px;
  width: 10%;
}

.btn-nav {
  padding: 5px;
  background-color: transparent;
  color: #0095f6;
  border: 1px solid #0095f6;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-nav:hover {
  background-color: #0095f6;
  color: white;
  text-decoration: underline;
}

.avatar-nav {
  width: 30px;
  height: 30px;
  border-radius: 50%;

}

.right-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}



.top {
  /* font-size: 2em;  */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  /* max-width: 100%; */
  padding: 30px;
  gap: 10px;

}

.podcast-head {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
  align-items: center;
}



/* ------------------- podcast page -------------------------- */
.conainer-podcast {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.podcast-card {
  display: flex;
  align-items: center;
  border: 1px solid black;
}

.podcast-img {
  width: 100px;
  height: 100px;
}



/* --------------- vidoe Page ----------------------- */

.conainer-video {
  display: flex;
  flex-direction: column;
}

.heading-vid {
  margin: 20px 0px 0px 30px;
}

.top-vid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  /* max-width: 100%; */
  padding: 30px;
  gap: 10px;
}

.card-ctn {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  /* min-height: 100vh; */
  background: none;
  gap: 10px;
  cursor: pointer;

}

.card-ctn:hover {
  box-shadow: #a2a4ab;
}

.card-video {
  width: 100%;
}

.card-meta {
  padding: 16px;
  font-size: 2em;
}

.card {
  overflow: hidden;
  background: #fafafa;
  border-radius: 4px;
  animation: fadeInUp 1s forwards;
  box-shadow: 0 8px 16px -4px rgba(0, 40, 80, .15);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-title-ctn {
  padding: 16px;
}

.card-title {
  margin-left: 10px;
  padding: 0;
  font-family: Raleway;
}

.card-description-ctn {
  padding: 16px;
}

p.card-description {
  margin: 0;
  color: #a2a4ab;
  font-size: 14px;
  font-family: 'Pacifico', cursive;
  font-family: 'Questrial', sans-serif;
  font-family: 'Roboto Mono', monospace;
  padding: 10px;
}

.next-step-btn {
  background: linear-gradient(45deg, #FE5EC3, #FD1EA3, #FCD8AC);
  padding: 12px 32px;
  border-radius: 8px;
  color: white;
  box-shadow: 0 8px 16px -4px rgba(0, 40, 80, .15);
}


/* ------------ tag page ------------- */

.tag-cont {
  display: flex;
  flex-direction: column;
  /* gap: px; */

}

.head-tag-page {
  margin: 10px 0px 0px 30px;
  font-size: 30px;
  background-color: none;

}

.container-tag {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  gap: 10px;
  border-radius: 5px;
  padding: 10px;
  /* display: inline; */
}

.title-tag {
  font-size: 20px;
  display: flex;
  text-align: start;
  margin: 10px;

}

.descryption-tag {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px;
  font-size: 14px;
  /* max-width: 10ch; */
}

.top-tag {
  /* font-size: 2em;  */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  /* max-width: 100%; */
  padding: 30px;
  gap: 10px;
  background-color: none;
}

.card-tag {
  background: none;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  /* min-height: 100vh; */
  background: none;
  gap: 10px;
  cursor: pointer;

}

.tag-btn {
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #a2a4ab;
  border-radius: 5px;
  font-size: 14px;
}

.tag-btn:hover {
  background-color: #e0e0e1;
  cursor: pointer;
}



/* ------------------ create post ---------------------------- */


.cover-cont-create-post {

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-top: 5%;
  /* background-color: white; */

}

.container-create-post {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 5%;
  background-color: white;
}

.btn-create-post {
  padding: 10px;
  font-size: 16px;
  width: 150px;
  background-color: transparent;
  border: 2px solid rgb(223, 219, 219);
  border-radius: 5px;
}

.title-create-post {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-1-create-post {
  border: none;
  font-size: 50px;
  font: bolder;
  outline: none;
}

.input-2-create-post {
  border: none;
  font-size: 20px;
  font: bolder;
  outline: none;
}

.input-3-create-post {
  border: none;
  font-size: 20px;
  width: 55%;
  font: bolder;
  outline: none;
  font-family: 'Pacifico', cursive;
  font-family: 'Questrial', sans-serif;
  font-family: 'Roboto Mono', monospace;
}

.btn-pub {
  padding: 10px 20px;
  background-color: #1519db;
  font-size: 16px;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-pub:hover {
  background-color: #0f129d;
  cursor: pointer;
}


/* ---------------------- uplade image ------------------------- */


.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: 'Select some files';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

.custom-file-input:hover::before {
  border-color: black;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}